*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(253, 83, 117), rgb(179, 37, 65));
}

.clock {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.75);
    position: relative;
    border-radius: 50%;
    border: 2px solid #333333;
}

.clock::before,
.clock::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock::before {
    width: 20px;
    height: 20px;
    background: #000000;
    z-index: 13;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.clock::after {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.3), inset 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.hand {
    --rotation: 0;
    position: absolute;
    border: 1px solid #FFFFFF;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    bottom: 50%;
    left: 50%;
    background: rgb(80, 0, 16);
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    z-index: 12;
}

.hand.seconds {
    width: 3px;
    height: 45%;
    background: rgb(0, 4, 255);
}
.hand.minutes {
    width: 7px;
    height: 40%;
}
.hand.hours {
    width: 12px;
    height: 35%;
}

.number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    transform: rotate(var(--rotation));
    z-index: 2;
}

.number1 { --rotation: 30deg; }
.number2 { --rotation: 60deg; }
.number3 { --rotation: 90deg; }
.number4 { --rotation: 120deg; }
.number5 { --rotation: 150deg; }
.number6 { --rotation: 180deg; }
.number7 { --rotation: 210deg; }
.number8 { --rotation: 240deg; }
.number9 { --rotation: 270deg; }
.number10 { --rotation: 300deg; }
.number11 { --rotation: 330deg; }